:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#ffffff;
}

body {
    color: var(--primary-text-color);

    
}

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;

}

.list {
    list-style: none;
}

.logo {
    color: var(--title-text-color);

    font-family: 'Raleway', sans-serif;
    font-style: 400;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.section-title {
    color: var(--title-text-color);
}

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.charakter-list .title {
    color: var(--title-text-color);
}

.contact .link {
    color: #757575;
}

.contact .link:hover,
.contact .link:focus {
    color: #2196F3;
}

.accent {
    color:var(--accent-color);
}

.footer-contact .link {
    color: rgba(255, 255, 255, 0.6)
}

.footer-contact .link:hover,
.footer-contact .link:focus {
    color: #2196F3;
}

footer,
.hero {
    color: var(--primary-white-color);
    background: #2F303A;
}