:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#ffffff;
    --background-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*---------------header---------------*/
.logo {
    color: var(--title-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-decoration: none
}

.accent {
    color:var(--accent-color);
}    

.header-nav .link{
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none
}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--accent-color);
}

/*---------------hero---------------*/
.section-hero h1{
    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.section-hero {
    background-color: var(--background-color);
}

.btn {
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.hero-btn {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
   
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    
}

.hero-btn .link:hover,
.hero-btn .link:focus {
    color: #261616;
}

/*---------------properties---------------*/

.section-properties .properties-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.section-properties .properties-text {
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*---------------employment---------------*/
.section-employment .employment-title,
.section-team .team-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/*---------------team---------------*/
.section-team {
    background-color:#F5F4FA;;
}
.team-list .team-link,
.team-list .team-text {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list .team-text {
    color: var(--primary-text-color);
}

/*---------------portfolio---------------*/
.portfolio-list .portfolio-btn {
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/*---------------footer---------------*/
footer .logo{
    color: var(--primary-white-color);

    text-decoration: none
}    

.footer-contact .link {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contact .link:hover,
.footer-contact .link:focus {
    color: var(--accent-color);
}

footer {
    background-color: var(--background-color);
}

.footer-contact a[href="https://goo.gl/maps/PAnnSUerjHj3gwqy8"] {
    color: var(--primary-white-color);
}